#ticket-curration{
    width: 97%;
    height: 100%;
}

#curation-top{
    font-size: 20px;
    width:97%;
    height:50px;
    position: fixed;
    padding: 10px;
    background-color: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
        box-sizing: border-box;
}

#curation-bottom{
    border-top: 1px solid #C0C0C0;
    position: fixed;
    bottom:0px;
    height : 70px;
    width:53%;
    padding:10px;
    background-color: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
        box-sizing: border-box;
}

.blue-color{
    color:#33CCFF;
}

#description-heading,#issue-heading{
    font-weight: bold;
    padding-bottom: 10px;
}

#curation-main{
    font-size: 15px;
    border-top: 1px solid #C0C0C0;
    width : 100%;
    margin-top: 50px;
    margin-bottom: 170px;
    position: absolute;
    width: 97%;
    height: 100%;
    overflow:hidden;
    webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#ticket-curation-left{
    float: left;
    width: 55%;
    height : 100%;
    position: relative;
    webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#ticket-curation-left-top{
    height: 100%;
    padding: 10px;
}

#comment-textarea{
    width: 100%;
}

#ticket-description{
    word-wrap: break-word;
    height: 100%;
    overflow-y:auto;
    padding-bottom: 305px;
    webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#ticket-curration-left-bottom{
    border-top: 1px solid #C0C0C0;
    padding:10px;
    position:absolute;
    bottom:208px;
    width:100%;
    height: 225px;
    background-color: white;
    webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#ticket-curration-right{
    float: right;
    padding: 10px 10px 250px 10px;
    width: 45%;
    height: 100%;
    border-left: 1px solid #C0C0C0;
    overflow-y: scroll;
    webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

}

.bottom-buttons{
    float : right;
    padding-right: 10px;
}

::-webkit-scrollbar {
    display: none;
}

#ticket-curration-left-bottom-buttons {
    border-top: 1px solid #C0C0C0;
    padding:10px;
    position:absolute;
    bottom:208px;
    width:100%;
    height:60px;
    background-color: white;
    webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}