<div style="font-size:1.5em">
  <i class="ionicons ion-android-arrow-back back-arrow" style="font-size:1.6em" ng-click="go('/')"></i>
  <span class="page-heading" style="margin-left: 10px" ><thin>{{previousPage}}</thin></span>
  <i class="ionicons ion-ios-arrow-right back-arrow" style="cursor: auto"></i>
  <span class="page-heading" style="margin: 0px"><thin>Ticket ID <span style="color: #4DC5EA">#{{ticket.id}}</span></thin></span>
  <!-- <span class="page-heading" style="margin-left: 100px"><thin>Customer <span style="color: #4DC5EA">{{fabricPracticeName}}</span></thin></span> -->
  <span class="page-heading" style="margin-left: 100px;"><thin>Status <span style="color: #4DC5EA">{{ticket.status}}</span></thin></span>
  <span class="page-heading" style="margin-left: 100px;"><thin>Customer <a style="color: #4DC5EA; text-decoration: none;" ng-href="https://epicenter.practo.com/fabric#/practice/{{ticket.kyc_info.fabric_practice_id}}/edit">{{ticket.kyc_info.fabric_practice_name}}</a></thin></span>
  <span class="" style="right:0px; position:absolute; margin-right:40px">
    <i class="ionicons ion-ios-timer" ng-if="dueTime > 0" style="color:#FEC76F;font-size:1.5em; margin-top:5px"></i>
    <i class="ionicons ion-ios-timer" ng-if="dueTime <= 0" style="color: #F91943;font-size:1.5em; margin-top:5px"></i>
    <thin ng-if="dueTime > 0">Due in {{dueTime}} hrs</thin>
    <thin ng-if="dueTime <= 0">Passed by {{-1 * dueTime}} hrs</thin>
  </span>
</div>
