<div style="font-size:1.5em" class="row">
  <i class="ionicons ion-android-arrow-back back-arrow" style="font-size:1.6em" ng-click="go('/')"></i>
  <span class="page-heading" style="margin-left: 10px" ><thin>{{data.previousPage}}</thin></span>
  <i class="ionicons ion-ios-arrow-right back-arrow" style="cursor: auto"></i>
  <span class="page-heading" style="margin: 0px"><thin>Ticket ID <span style="color: #4DC5EA">#{{data.ticket.id}}</span></thin></span>
  <!-- <span class="page-heading" style="margin-left: 100px"><thin>Customer <span style="color: #4DC5EA">{{fabricPracticeName}}</span></thin></span> -->
  <span class="page-heading" style="margin-left: 100px;">
    <thin>Status <span style="color: #4DC5EA">
      {{data.ticket.status}}
    </span></thin>
  </span>
  <img src="/assets/fonts/Curation.svg" ng-if="data.ticket.status=='CURATION'" style="width: 30px; height:30px; margin:-7px"></img>
  <img src="/assets/fonts/Resolved.svg" ng-if="data.ticket.status=='RESOLVED'" style="width: 30px; height:30px; margin:-7px"></img>
  <img src="/assets/fonts/inProgress.svg" ng-if="data.ticket.status=='INPROGRESS'" style="width: 30px; height:30px; margin:-7px"></img>
  <img src="/assets/fonts/Orphan.svg" ng-if="data.ticket.status=='ORPHAN'" style="width: 30px; height:30px; margin:-7px"></img>
  <img src="/assets/fonts/INVALID.svg" ng-if="data.ticket.status=='INVALID'" style="width: 30px; height:30px; margin:-7px"></img>
  <span class="page-heading" style="margin-left: 100px;">
    <thin>
      Customer
        <a  ng-hide="isEditingCustomer" target="_blank" style="color: #4DC5EA; text-decoration: none;"
        ng-href="https://epicenter.practo.com/fabric#/practice/{{data.ticket.kyc_info.fabric_practice_id}}/edit">
        {{data.cutomerName}}</a>
        <i ng-hide="isEditingCustomer" class="ionicons ion-edit" style="width: 30px; height:30px; margin-bottom:-3px; margin-left:3px; color:#A9A9A9" ng-click="editCustomer(true)"></i>
      <input id="fab-id" style="margin-bottom: -10px" ng-show="isEditingCustomer" type="text" ng-blur="editCustomer(false)" class="issue-box edit-customer" placeholder="Enter customer fabric Id" ng-model="data.fabric_practice_id"></input>
    </thin>
  </span>
  <span class="" style="right:0px; position:absolute; margin-right:40px">
    <i class="ionicons ion-ios-timer" ng-if="data.dueTime > 0" style="color:#FEC76F;font-size:1.5em; margin-top:5px"></i>
    <i class="ionicons ion-ios-timer" ng-if="data.dueTime <= 0" style="color: #F91943;font-size:1.5em; margin-top:5px"></i>
    <thin ng-if="data.dueTime > 0">Due in {{data.dueTime}} hrs</thin>
    <thin ng-if="data.dueTime <= 0">Passed by {{-1 * data.dueTime}} hrs</thin>
  </span>
</div>
