<div style="font-size:1em; padding-left:25px">
  <span ng-if="data.ticket.assignment_details">
    <button class="button-primary" ng-click=acknowledgeTicket() ng-if="(data.ticket.assignment_details.action != 'ACKNOWLEDGE' && data.isAssigned)">		<small>Acknowledge</small>
    </button>
    <span  style="font-size: 1.5em;color:#81BA46" ng-if="(data.ticket.assignment_details.action == 'ACKNOWLEDGE' && data.isAssigned)"><i class="ionicons ion-android-done"></i> Acknowleged</span>
    <button class="button-secondary" ng-click="pressDeny()" ng-if="(data.ticket.assignment_details.action != 'DENY' && data.isAssigned)">
      <small>Deny</small>
    </button>
    <span style="font-size: 1.5em;color:#E54D54" ng-if="(data.ticket.assignment_details.action == 'DENY' && data.isAssigned)"><i class="ionicons ion-android-close" ></i> Denied</span>
  </span>
  <button ng-hide="(data.isNotOwner || data.ticket.status == 'RESOLVED' || data.ticket.status == 'INVALID')" ng-click="pressResolve()">
    <small>Mark as Resolved</small>
  </button>
  <button ng-hide="(data.isNotOwner || data.ticket.status == 'RESOLVED' || data.ticket.status == 'INVALID')" ng-click="invalidStatus()">
    <small>Mark as Invalid</small>
  </button>
  <button class="button-primary" style="float:right" ng-click="saveTicketDetails()"><small>Save</small></button>
</div>
