<div id="ticket-detail">
          <div id="issue-heading" class="row">
              ISSUE DETAILS
          </div>

          <!-- Product -->
          <div class="top-medium-pad row">
              <div class="five columns">
                  Product
              </div>
              <div class="seven columns">
                <div
                    isteven-multi-select
                    input-model="data.products"
                    output-model="data.product"
                    button-label="name"
                    item-label="name"
                    tick-property="ticked"
                    selection-mode="single"
                    helper-elements=""
                    is-disabled="true"
                    >
                </div>
              </div>
          </div>

          <!-- Source -->
          <div class="field top-medium-pad row">
              <div class="five columns">
                  Source
              </div>
              <div class="seven columns">
                <div
                    isteven-multi-select
                    input-model="data.sources"
                    output-model="data.source"
                    button-label="name"
                    item-label="name"
                    tick-property="ticked"
                    selection-mode="single"
                    helper-elements=""
                    is-disabled="true"
                    >
                </div>
              </div>
          </div>

          <!-- Type -->
         <div class="top-medium-pad row">
              <div class="five columns">
                  Type
              </div>
              <div class="seven columns">
                <div
                    isteven-multi-select
                    input-model="data.types"
                    output-model="data.type"
                    button-label="name"
                    item-label="name"
                    tick-property="ticked"
                    selection-mode="single"
                    helper-elements=""
                    is-disabled="true">
                </div>
              </div>
          </div>

          <!-- Sentiment -->
         <div class="top-medium-pad row">
              <div class="five columns">
                Sentiment
              </div>
              <div class="seven columns">
                <div
                    isteven-multi-select
                    input-model="data.sentiments"
                    output-model="data.sentiment"
                    button-label="name"
                    item-label="name"
                    tick-property="ticked"
                    selection-mode="single"
                    helper-elements=""
                    is-disabled="true"
                    >
                </div>
              </div>
          </div>

          <!-- Owned by -->
          <div class="top-medium-pad row">
              <div class="five columns">
                Owner Team
              </div>
              <div class="seven columns">
                 <div
                    isteven-multi-select
                    input-model="data.ownerTeams"
                    output-model="data.ownerTeam"
                    button-label="name"
                    on-item-click="getOwnerTeamMembers(data)"
                    item-label="name"
                    tick-property="ticked"
                    selection-mode="single"
                    helper-elements="">
                </div>
              </div>
          </div>

          <!-- Owned member -->
          <div class="field top-medium-pad row" ng-show="data.ownerTeam.length">
              <div class="five columns">
                Owned By
              </div>
              <div class="seven columns">
                <div
                  isteven-multi-select
                  input-model="data.ownerTeamMembers"
                  output-model="data.owner"
                  button-label="name"
                  item-label="name"
                  tick-property="ticked"
                  selection-mode="single"
                  helper-elements=""
                  max-height = "200px">
                </div>
              </div>
          </div>

          <!-- Assigned to -->
          <div class="top-medium-pad row" ng-show="data.ownerTeam.length">
              <div class="five columns">
                Reassigned Team
              </div>
              <div class="seven columns">
                <div
                  isteven-multi-select
                  input-model="data.reassignedTeams"
                  output-model="data.reassignedTeam"
                  on-item-click="getReassignedTeamMembers(data)"
                  button-label="name"
                  item-label="name"
                  tick-property="ticked"
                  selection-mode="single"
                  helper-elements="">
                </div>
              </div>
          </div>

          <!-- Assigned member -->
          <div class="top-medium-pad row"  ng-show="data.reassignedTeam.length">
              <div class="five columns">
                Reassigned To
              </div>
              <div class="seven columns">
                <div
                  isteven-multi-select
                  input-model="data.reassignedTeamMembers"
                  output-model="data.reassigned"
                  button-label="name"
                  item-label="name"
                  tick-property="ticked"
                  selection-mode="single"
                  helper-elements="">
                </div>
              </div>
          </div>

          <div class="top-medium-pad row">
              <div class="five columns">
                  Followup of Issue
              </div>
              <div class="seven columns">
               <input type="text" class="issue-box" placeholder="Enter Ticket Id" ng-model="data.followUpOf" style="width:100%"/>
              </div>
          </div>
          <div class="top-medium-pad row">
              Add Tags
          </div>
          <div class="top-medium-pad row">
              <tags-input ng-model='data.tags'  add-on-space="true"> </tags-input>
          </div>
  </div>
