<div text-angular ta-name="comment-text" ng-model="data.comment" ta-toolbar="[['p', 'pre', 'quote'],['bold', 'italics', 'underline', 'strikeThrough', 'ul', 'ol', 'redo', 'undo'],['justifyLeft', 'justifyCenter', 'justifyRight']]" placeholder="Enter new comment"></div>
<div class="row" style="padding: 5px; position:absolute; bottom:0px; right:15px">
  <small>
    <button style="float:right" ng-click="hideAll()">Hide</button>
    <button class="button-primary" style="float:right; margin-right:5px" ng-click="addComment()">Add Comment</button>
  </small>
</div>
<script type="text/ng-template" id="/people-mentions.tpl">
      <ul class="list-group user-search">
        <li mentio-menu-item="person" ng-repeat="person in items" class="list-group-item">
          <span class="text-default" ng-bind-html="person.name | mentioHighlight:typedTerm:'menu-highlighted' | unsafe">
          </span>
        </li>
      </ul>
</script>
<textarea
  type="text" placeholder="Type a new comment" class="form-control panel-body"
  mentio = "" mentio-template-url='/people-mentions.tpl'
  mentio-typed-text="typedTerm" mentio-items="data.items | filter:name:typedTerm"
  mentio-select="getSelectedMention(item)" mentio-search="searchPeople(term)" ng-model="data.comment" id="comment-textarea"
  ng-hide="true">
</textarea>
