<div>
  <div class="row" style="padding:20px">
    <div style="height:50px; padding:10px;">
        <h4> Add Team </h4>
    </div>
    <!-- Add Team -->
    <div style="border:1px solid #D7D7D7;">
      <div class="row" style="padding:10px; margin-left:20px; text-weight:bold;">
        <div class="three columns">
          Name
        </div>
        <div class="three columns">
          Type
        </div>
        <div class="three columns">
         Levels
        </div>
        <div class="three columns">
          Edit
        </div>
      </div>
      <div class="main" style="height:550px; border-bottom:1px solid #D7D7D7; overflow-y:scroll;">
        <div ng-repeat="(teamIndex, team) in team_details" style="border:1px solid white; background-color:white; padding:10px; margin:20px; border-radius:10px;">
          <!-- {{team}} -->
          <div class="row">
            <div class="three columns">
              {{team.name}}
            </div>
            <div class="three columns">
              {{team.type == 0 ? "Assigned Team" : "Owner Team"}}
            </div>
            <div class="three columns">
              {{team.levels.length ? team.levels.length : 0}}
            </div>
            <div class="three columns">
              <button class="button-primary" style="height:25px" ng-click="toggle(teamIndex)">
                <i class="ionicons ion-edit"></i>
              </button>
            </div>
          </div>
           <div ng-show="team.showLevels">
            <div class="row" ng-repeat="(levelIndex, level) in team.levels" 
              style="text-align:left; margin-bottom:20px; border:1px solid #D7D7D7; min-height:20px;">
              <div class="row" style="padding-top:10px; padding-left:10px; padding-right:10px;">
                <div class="three columns">
                  Default&nbsp;Level&nbsp;: {{level.is_default}}
                </div>
                <div class="three columns">
                  SLA&nbsp;: {{level.sla}}
                </div>
                <div class="six columns" style="text-align:right;">
                  <script type="text/ng-template" id="/add-user.tpl">
                        <ul class="list-group user-search">
                          <li mentio-menu-item="user" ng-repeat="user in items" class="list-group-item">
                            <span class="text-default" ng-bind-html="user.email | mentioHighlight:typedTerm:'menu-highlighted' | unsafe">
                            </span>
                          </li>
                        </ul>
                  </script>
                  <input mentio
                      ng-model="level.val"
                      type="text"
                      class="form-control"
                      ng-trim="false"
                      mentio-template-url='/add-user.tpl'
                      mentio-items="data.items"
                      mentio-select="addUser(item, level, team, teamIndex)"
                      mentio-search="searchUser(term)"
                      size="25"/>
                </div>
              </div>
              <div ng-repeat="(memberIndex, member) in level.members" style="border:1px solid #D7D7D7; padding:20px; margin:20px;
                    display: inline-block;">
                {{member.user.name}} <br/>
                {{member.user.email}} <br/>
                {{member.user.phone}} <br/><br/>
                <button ng-click="removeMember(member, memberIndex, levelIndex, teamIndex)" style="height:25px !important"> Remove Member
                </button>
              </div>
            </div>
            <div style="padding:10px">
              <input type="number" ng-model="team.input" placeholder="SLA">
              <button class="button-primary" style="margin-left:20px" ng-click="addLevel(team.id, team.input, teamIndex)"><small>Add Level</small>
              </button>
            </div>
           </div>
        </div>
      </div>
      <div style="padding:10px">
        <input type="text" ng-model="team" placeholder="team"> </input>
        <select style="margin-left:20px;" ng-model="type">
          <option value=""></option>
          <option value="0">Assigned Team</option>
          <option value="1">Owner Team</option>
        </select>
        <button class="button-primary" style="margin-left:20px" ng-click="addTeam()"><small>Add Team</small></button>
      </div>
  </div>
</div>
</div>
