<div ng-controller="curationCtrl">
    <div class="curation-top">
      <div ng-click="cancel()" style="display:inline-block;">
        <i class="fa fa-times-circle"></i>
      </div>
      <div style="display:inline-block; text-align:center;">Ticket ID: <span class="blue-color"> {{ticket.id}}</span> </div>
    </div>

    <div class="curation-main" id="curation-main">
      <!-- Curation main Left screen -->
        <div class="ticket-curation-left">
          <div class="ticket-curation-left-top">
              <div class="ticket-description">
                <div class="timeline-row" style="box-shadow:0px 0px 0px 0px">
                  <div class="timeline-header row">
                    <span class="one column timeline-icon" style="margin-right:0px"><i class="ionicons ion-ios-paper-outline"></i></span>
                    <div class="eleven columns" style="margin-top:10px">Ticket Description</div>
                  </div>
                  <div class="timeline-body">
                    {{ticket.description}}
                  </div>
                </div>
                <div class="timeline-row" style="box-shadow:0px 0px 0px 0px">
                  <div class="timeline-header row">
                    <span class="one column timeline-icon" style="margin-right:0px"><i class="ionicons ion-ios-paper-outline"></i></span>
                    <div class="eleven columns" style="margin-top:10px">Requester Data</div>
                  </div>
                  <div class="timeline-body">
                    <div class="row">Name: {{ticket.created_by.name}}</div>
                    <div class="row">Email: {{ticket.created_by.email}}</div>
                    <div class="row">Phone: {{ticket.created_by.phone}}</div>
                  </div>
                </div>
                <div ng-repeat="comment in comments">
                  <div class="timeline-row" style="box-shadow:0px 0px 0px 0px">
                    <div class="timeline-header row">
                        <span class="one column timeline-icon" style="margin-right:5px; margin-top:4px"><i class="ionicons ion-ios-chatbubble-outline"></i></span>

                      <div class="eleven columns" style="margin-top: 10px" ta-bind ng-model="comment.body">
                      </div>
                    </div>
                    <div class="timeline-footer">
                      <small><div style="">{{comment.created_by.name}}</div></small>
                      <small><small><div style="">{{comment.date}}</div></small></small>
                    </div>
                </div>
              </div>
            </div>

          </div>
        </div>

       <div class="ticket-curation-right">
          <div class="issue-heading" class="row">
              ISSUE DETAILS
          </div>
          <!-- Status -->
          <div class="row">
              <div class="five columns">
                  Status
              </div>
              <div class="seven columns">
                <div
                    isteven-multi-select
                    input-model="data.statuses"
                    output-model="data.status"
                    button-label="name"
                    item-label="name"
                    tick-property="ticked"
                    selection-mode="single"
                    helper-elements=""
                    max-height = "100px"
                    >
                </div>
              </div>
          </div>
          <!-- Product -->
          <div class="top-medium-pad row">
              <div class="five columns">
                  Product
              </div>
              <div class="seven columns">
                <div
                    isteven-multi-select
                    input-model="data.products"
                    output-model="data.product"
                    button-label="name"
                    item-label="name"
                    tick-property="ticked"
                    selection-mode="single"
                    helper-elements=""
                    max-height = "100px"
                    >
              </div>
            </div>
          </div>
          <!-- Source -->
          <div class="field top-medium-pad row">
              <div class="five columns">
                  Source
              </div>
              <div class="seven columns">
                <div
                    isteven-multi-select
                    input-model="data.sources"
                    output-model="data.source"
                    button-label="name"
                    item-label="name"
                    tick-property="ticked"
                    selection-mode="single"
                    helper-elements=""
                    max-height = "100px"
                    >
                </div>
              </div>
          </div>
          <!-- Type -->
         <div class="top-medium-pad row">
              <div class="five columns">
                  Type
              </div>
              <div class="seven columns">
                <div
                    isteven-multi-select
                    input-model="data.types"
                    output-model="data.type"
                    button-label="name"
                    item-label="name"
                    tick-property="ticked"
                    selection-mode="single"
                    helper-elements=""
                    max-height = "100px">
                </div>
              </div>
          </div>
          <!-- Sentiment -->
         <div class="top-medium-pad row">
              <div class="five columns">
                Sentiment
              </div>
              <div class="seven columns">
                <div
                    isteven-multi-select
                    input-model="data.sentiments"
                    output-model="data.sentiment"
                    button-label="name"
                    item-label="name"
                    tick-property="ticked"
                    selection-mode="single"
                    helper-elements=""
                    max-height = "100px">
                </div>
              </div>
          </div>
          <!-- Owned by -->
          <div class="top-medium-pad row">
              <div class="five columns">
                Owner Team
              </div>
              <div class="seven columns">
                 <div
                    isteven-multi-select
                    input-model="data.ownerTeams"
                    output-model="data.ownerTeam"
                    button-label="name"
                    on-item-click="getOwnerTeamMembers(data)"
                    item-label="name"
                    tick-property="ticked"
                    selection-mode="single"
                    helper-elements=""
                    max-height = "100px">
                </div>
              </div>
          </div>
          <!-- Owned member -->
          <div class="field top-medium-pad row" ng-if="data.ownerTeam.length">
              <div class="five columns">
                Owned By
              </div>
              <div class="seven columns">
                <div
                  isteven-multi-select
                  input-model="data.ownerTeamMembers"
                  output-model="data.owner"
                  button-label="name"
                  item-label="name"
                  tick-property="ticked"
                  selection-mode="single"
                  helper-elements=""
                  max-height = "100px">
                </div>
              </div>
          </div>
          <!-- Assigned to -->
          <div class="top-medium-pad row" ng-if="data.ownerTeam.length">
              <div class="five columns">
                Assigned Team
              </div>
              <div class="seven columns">
                <div
                  isteven-multi-select
                  input-model="data.assignedTeams"
                  output-model="data.assignedTeam"
                  on-item-click="getAssignedTeamMembers(data)"
                  button-label="name"
                  item-label="name"
                  tick-property="ticked"
                  selection-mode="single"
                  helper-elements="">
                </div>
              </div>
          </div>
          <!-- Assigned member -->
          <div class="top-medium-pad row"  ng-if="data.assignedTeam.length">
              <div class="five columns">
                Assigned To
              </div>
              <div class="seven columns">
                <div
                  isteven-multi-select
                  input-model="data.assignedTeamMembers"
                  output-model="data.assigned"
                  button-label="name"
                  item-label="name"
                  tick-property="ticked"
                  selection-mode="single"
                  helper-elements=""
                  max-height = "100px">
                </div>
              </div>
          </div>

          <div class="top-medium-pad row">
              <div class="five columns">
                  Followup of Issue
              </div>
              <div class="seven columns">
               <input type="text" class="issue-box" placeholder="Enter Ticket Id" ng-model="data.followUpOf" style="width:100%"/>
              </div>
          </div>
          <div class="top-medium-pad row">
              Add Tags
          </div>
          <div class="top-medium-pad row">
              <tags-input ng-model='data.tags'  add-on-space="true"> </tags-input>
          </div>
      </div>
  </div>

  <!-- curation bottom screen -->
  <div class="curation-bottom">
    <div class="bottom-buttons">
      <button ng-click="cancel()"> <small> Cancel </small></button>
    </div>
    <div class="bottom-buttons">
      <button class="button-primary" ng-click="checkSave()"><small>Save</small ></button>
    </div>
  </div>
  <div ng-if="data.showComment" class="row ticket-curation-left-bottom">
      <script type="text/ng-template" id="/people-mentions.tpl">
            <ul class="list-group user-search">
              <li mentio-menu-item="person" ng-repeat="person in items" class="list-group-item">
                <span class="text-default" ng-bind-html="person.name | mentioHighlight:typedTerm:'menu-highlighted' | unsafe">
                </span>
              </li>
            </ul>
      </script>
      <div text-angular ta-name="comment-text" ng-model="data.comment" ta-toolbar="[['bold', 'italics', 'underline', 'strikeThrough', 'ul', 'ol', 'redo', 'undo']]" placeholder="Enter new comment"
      style="padding-bottom:10px">
      </div>
      <textarea
        type="text" placeholder="Type a new comment" class="form-control panel-body"
        mentio = "" mentio-template-url='/people-mentions.tpl'
        mentio-typed-text="typedTerm" mentio-items="items | filter:name:typedTerm"
        mentio-select="getSelectedUser(item)" mentio-search="searchPeople(term)" ng-model="data.comment" id="comment-textarea"
        ng-hide="true">
      </textarea>
       <button class="button-primary" style="float:right; margin-right:5px padding-top:10px" ng-click="addComment()"><small><small>Comment</small></small></button>
      <button style="float:right; margin-right:5px" ng-click="toggleComment()"><small><small>hide</small></small></button>
  </div>
  <div class="ticket-curation-left-bottom-buttons" ng-if="!data.showComment" class="row">
    <button class="button-primary" style="float:right; margin-right:5px padding-top:10px" ng-click="toggleComment()"><small><small>Comment</small></small></button>
  </div>

  
  <div style=" background-color:rgba(0, 0, 0, 0.5); width:100%; height:100%;position: fixed; z-index:20; top:0px; left:0px"
  ng-if="data.showCustomMail" ng-click = "removeModal()"></div>
  <div style="background-color:white;width:50%; height:50%;position: fixed; z-index:21; margin: 0 auto; top:25%; left:25%"
    ng-if="data.showCustomMail">
      <div ng-include="'/static/curationCustomSendMail.html'"></div>
  </div>
</div>
