<div id="ticket-filters">
  <div class="row row-filter" ng-click='goto("my_issues")'>
    <span>
      <div class="offset-by-two five columns">
        My Issues
      </div>
      <div class="one column" >
        <div class="button-number">{{data.counts.my_issues}}
        </div>
      </div>
    </span>
  </div>
  <div class="row row-filter" ng-click='goto("my_team_issues")'>
    <span>
      <div class="offset-by-two five columns">
        Team Issues
      </div>
      <div class="one column" >
        <div class="button-number">{{data.counts.my_team_issues}}
        </div>
      </div>
    </span>
  </div>
  <div class="row row-filter" ng-click='goto("all_issues")'>
    <span>
      <div class="offset-by-two five columns">
        All Issues
      </div>
      <div class="one column" >
        <div class="button-number">{{data.counts.all_issues}}
        </div>
      </div>
    </span>
  </div>
  <form style="margin-top:20px; paddin-left:10px">
    <div class="row">
      <div class="offset-by-one eight columns">
        <b>Filters</b>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-two eight columns">
        <small>Product</small>
        <div
        isteven-multi-select
        input-model="data.products"
        output-model="$parent.selected.products"
        button-label="name"
        item-label="id name"
        tick-property="selected"
        helper-elements="reset"
        max-labels="1"
        max-height="100px"
        >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-two eight columns">
        <small>Team</small>
        <div
        isteven-multi-select
        input-model="data.assignedTeams"
        output-model="$parent.selected.teams"
        button-label="name"
        item-label="id name"
        tick-property="selected"
        helper-elements="reset"
        max-labels="1"
        max-height="100px"
        >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-two eight columns">
        <small>Status</small>
        <div
        isteven-multi-select
        input-model="data.statuses"
        output-model="$parent.selected.statuses"
        button-label="icon"
        item-label="icon name"
        tick-property="selected"
        helper-elements="reset"
        max-labels="1"
        max-height="100px"
        >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-two eight columns">
        <small>Source</small>
        <div
        isteven-multi-select
        input-model="data.sources"
        output-model="$parent.selected.sources"
        button-label="name"
        item-label="id name"
        tick-property="selected"
        helper-elements="reset"
        max-labels="1"
        max-height="100px"
        >
        </div>
      </div>
    </div>
    <!-- <div class="row"> -->
      <div class="offset-by-two eight columns">
        <small>Type</small>
        <div
        isteven-multi-select
        input-model="data.types"
        output-model="$parent.selected.types"
        button-label="name"
        item-label="id name"
        tick-property="selected"
        helper-elements="reset"
        max-labels="1"
        max-height="100px"
        >
        </div>
      </div>
    <!-- </div> -->
    <div class="row">
      <div class="offset-by-two eight columns">
        <button class="button-primary" ng-click="apply_filters()"><small>Apply</small></button>
      </div>
    </div>
  </form>
</div>
