<div class="eight columns">
<div class="row">
  <span class="one columns"><i class="ionicons ion-navicon burger-menu" style="margin-left:25px; font-size:3em" onclick="toggleLeftNav()"></i></span>
  <span class="page-heading two columns" style="margin-left: 15px; font-size:2em">
    {{pageHeading.value}}
  </span>
</div>
</div>
<div class="row">
  <i class="ionicons ion-ios-contact-outline burger-menu" style="float:right; font-size:3em"  ng-click="toggleShowLogout()"></i>
</div>
<div ng-show="showLogout" class="boxed" style="position:fixed; z-index:20; right:10px; top:80px; width:200px; height: 35px; background-color:white; padding: 5px ;box-shadow: 0px 0px 2px 1px #D7D7D7;">
  <div class="offset-by-four one column logout" style="" ng-click="logout()">Logout</div>
</div>
