<div class='full-width-controller boxed' >
<!--
  <h1>chronos</h1>
  <h2>Your new AngularJS app is now ready...</h2> -->
  <!-- <div class="row" style="height:100%"> -->
    <div class="filters two columns" style="">
      <div ng-include src="'/static/filtersPane.html'" ng-controller='TicketListFilterCtrl'></div>
    </div>
    <div class="offset-by-two ten columns">
      <table class="listing-table">
      <thead class="row listing-head-row">
        <th style="width:8%"><big>Issue</big></th>
        <th style="width:22%"><big>Description</big></th>
        <th style="width:10%"><big>Source</big></th>
        <th style="width:10%"><big>Product</big></th>
        <th style="width:10%"><big>Type</big></th>
        <th style="width:13%"><big>Owner</big></th>
        <th style="width:13%"><big>Assignee</big></th>
        <th style="width:15%"><big>Time Left</big></th>

      </thead>
      <tbody>
        <tr class="listing-row boxed row" ng-repeat="ticket in tickets.list" ng-click = "$parent.openTicket(ticket.id)" ng-attr-id="{{ticket.id}}" ng-class="selected == ticket.id ? 'selected' : ''">
          <td >
            <img src="/assets/fonts/Curation.svg" ng-if="ticket.status=='CURATION'" style="margin:-5px 1px"></img>
            <img src="/assets/fonts/Resolved.svg" ng-if="ticket.status=='RESOLVED'" style="margin:-5px 1px"></img>
            <img src="/assets/fonts/inProgress.svg" ng-if="ticket.status=='INPROGRESS'" style="margin:-5px 1px"></img>
            <img src="/assets/fonts/Orphan.svg" ng-if="ticket.status=='ORPHAN'" style="margin:-5px 1px"></img>
            <img src="/assets/fonts/Invalid.svg" ng-if="ticket.status=='INVALID'" style="margin:-5px 1px"></img>
            #{{ticket.id}}
          </td>
          <td >{{ticket.description.substring(0,35)}}<span ng-if="ticket.description && ticket.description.length > 35">...</span></td>
          <td >
            <i class="listing-font fa fa-envelope" style="font-size:1.3em" ng-if="ticket.source === 'email'"></i>
            <i class="listing-font fa fa-chat" style="font-size:1.3em" ng-if="ticket.source === 'chat'"></i>
            <i class="listing-font fa fa-phone" style="font-size:1.3em" ng-if="ticket.source === 'call'"></i>
            <span ng-if="ticket.source != 'email' && ticket.source != 'chat' && ticket.source != 'call'">{{ticket.source}}</span>
          </td>
          <td style="width:5%;text-transform:uppercase">{{ticket.product}}</td>
          <td style="width:5%;text-transform:uppercase">{{ticket.type}}</td>
          <td >
            <div class="row">{{ticket.owner_details.member.user.name}}</div>
            <div class="row">{{ticket.owner_details.team.name}}</div>
          </td>
          <td >
            <div class="row">{{ticket.assignment_details.member.user.name}}</div>
            <div class="row">{{ticket.assignment_details.team.name}}</div>
          </td>
          <td style = "border-right: 2px solid #EC6C6C" ng-if="ticket.remaining_percent <= 20">{{ticket.remaining_days}}{{ticket.remaining_days_unit}} {{ticket.remaining_hours}}{{ticket.remaining_hours_unit}}</td>
          <td style = "border-right: 2px solid #EBDA70" ng-if="ticket.remaining_percent <= 50 && ticket.remaining_percent > 20">{{ticket.remaining_days}}{{ticket.remaining_days_unit}} {{ticket.remaining_hours}}{{ticket.remaining_hours_unit}}</td>
          <td style = "border-right: 2px solid #BFE59A" ng-if="ticket.remaining_percent > 50">{{ticket.remaining_days}}{{ticket.remaining_days_unit}} {{ticket.remaining_hours}}{{ticket.remaining_hours_unit}}</td>

        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="twelve columns" ng-if="tickets.pages.length > 1">
        <button class="small-button" ng-repeat="page in tickets.pages" ng-click="pageChange(page + 1)">{{page + 1}}</button>
      </div>
    </div>
  </div>
</div>
