<div class='timeline-header row'>
  <span class="timeline-icon"><i class="ionicons ion-ios-paper-outline"></i></span>
  <span class="action-text">{{t.type}} by {{ticket.created_by.name}}</span>
  <span style="float:right;color:#666; padding: 10px 0px">{{created_on}}</span>
</div>
<div class='timeline-body row'>
  <div style="padding: 10px 0px; float:left; width:74%;border-right:1px solid #D7D7D7;">
    <div class="row" style="padding-right: 10px">
      {{t.ticket.description}}
    </div>
  </div>
  <div style="padding: 10px 5px; margin-left: 0%; float:right; width:25%">
    <div class="row">
      <div class="three columns">
        Email
      </div>
      {{t.ticket.created_by.email}}
    </div>
    <div class="row">
      <div class="three columns">
        Phone
      </div>
      {{t.ticket.created_by.phone}}
    </div>
  </div>
</div>
<div class='timeline-footer row' ng-if="t.type == 'Created'" style="padding-top: 10px">
  <span  style="font-size: 1em; float:left; margin-right: 20px; height:100%">
    <i class="listing-font fa fa-envelope" style="font-size:1.3em" ng-if="t.ticket.source.name === 'email'"></i>
    <i class="listing-font fa fa-chat" style="font-size:1.3em" ng-if="t.ticket.source.name === 'chat'"></i>
    <i class="listing-font fa fa-phone" style="font-size:1.3em" ng-if="t.ticket.source.name === 'call'"></i>
    <span ng-if="t.ticket.source.name != 'email' && t.ticket.source.name != 'chat' && t.ticket.source.name != 'call'">{{t.ticket.source.name}}</span>
  </span>
  <span class="offset-by-one two columns" style="font-size: 1em; float:left; height:100%">Product: {{t.ticket.product.name}}</span>
  <span class="offset-by-one two columns" style="font-size: 1em; float:left; height:100%">Type: {{t.ticket.type.name}}</span>
  <span class="offset-by-one two columns" style="font-size: 1em; float:left; height:100%">Sentiment: {{t.ticket.sentiment}}</span>
  <span class="offset-by-one two columns" style="font-size: 1em; float:left; height:100%">Status: {{t.ticket.status}}</span>
</div>
