<div text-angular ta-name="comment-text" ng-model="data.comment" ta-toolbar="[['p', 'pre', 'quote'],['bold', 'italics', 'underline', 'strikeThrough', 'ul', 'ol', 'redo', 'undo'],['justifyLeft', 'justifyCenter', 'justifyRight']]" placeholder="Enter new comment"></div>
<div class="row" style="padding: 5px; position:absolute; bottom:0px; right:15px">
  <small>
    <button style="float:right" ng-click="toggleShowCommenter()">Send Mail</button>
    <button class="button-primary" style="float:right; margin-right:5px" ng-click="addComment()">Add Comment</button>
  </small>
</div>
