<div ng-controller="curationCtrl" id="ticket-curration">
    <div id="curation-top">
      <div ng-click="cancel()" style="display:inline-block;">
        <i class="fa fa-times-circle"></i>
      </div>
      <div style="display:inline-block; text-align:center;">Ticket ID: <span class="blue-color"> {{ticketId}}</span> </div>
    </div>

    <div id="curation-main">
      <!-- Curation main Left screen -->
        <div id="ticket-curation-left">
          <div id="ticket-curation-left-top">
              <div id="description-heading">
                  DESCRIPTION
              </div>
              <div id="ticket-description">
                   {{ticketDescription}}
              </div>
          </div>
          <div id="ticket-curration-left-bottom" class="row">
            <script type="text/ng-template" id="/people-mentions.tpl">
                  <ul class="list-group user-search">
                    <li mentio-menu-item="person" ng-repeat="person in items" class="list-group-item">
                      <span class="text-default" ng-bind-html="person.name | mentioHighlight:typedTerm:'menu-highlighted' | unsafe">
                      </span>
                    </li>
                  </ul>
            </script>
            <div text-angular ta-name="comment-text" ng-model="comment" ta-toolbar="[['p', 'pre', 'quote','bold', 'italics', 'underline', 'strikeThrough', 'ul', 'ol', 'redo', 'undo','justifyLeft', 'justifyCenter', 'justifyRight']]" placeholder="Enter new comment"
            style="padding-bottom:10px">
            </div>
            <textarea
              type="text" placeholder="Type a new comment" class="form-control panel-body"
              mentio = "" mentio-template-url='/people-mentions.tpl'
              mentio-typed-text="typedTerm" mentio-items="items | filter:name:typedTerm"
              mentio-select="getSelectedUser(item)" mentio-search="searchPeople(term)" ng-model="comment" id="comment-textarea"
              ng-hide="true">
            </textarea>
            <button class="button-primary" style="float:right; margin-right:5px padding-top:10px" ng-click="addComment()"><small><small>Comment</small></small></button>
          </div>
        </div>

       <div id="ticket-curration-right">
          <div id="issue-heading" class="row">
              ISSUE DETAILS
          </div>
          <!-- Status -->
          <div class="row">
              <div class="five columns">
                  Status
              </div>
              <div class="seven columns">
                <div
                    isteven-multi-select
                    input-model="statuses"
                    output-model="status"
                    button-label="name"
                    item-label="name"
                    tick-property="ticked"
                    selection-mode="single"
                    helper-elements=""
                    >
                </div>
              </div>
          </div>
          <!-- Product -->
          <div class="top-medium-pad row">
              <div class="five columns">
                  Product
              </div>
              <div class="seven columns">
                <div
                    isteven-multi-select
                    input-model="products"
                    output-model="product"
                    button-label="name"
                    item-label="name"
                    tick-property="ticked"
                    selection-mode="single"
                    helper-elements=""
                    >
                </div>
              </div>
          </div>

          <!-- Source -->
          <div class="field top-medium-pad row">
              <div class="five columns">
                  Source
              </div>
              <div class="seven columns">
                <div
                    isteven-multi-select
                    input-model="sources"
                    output-model="source"
                    button-label="name"
                    item-label="name"
                    tick-property="ticked"
                    selection-mode="single"
                    helper-elements=""
                    >
                </div>
              </div>
          </div>

          <!-- Type -->
         <div class="top-medium-pad row">
              <div class="five columns">
                  Type
              </div>
              <div class="seven columns">
                <div
                    isteven-multi-select
                    input-model="types"
                    output-model="type"
                    button-label="name"
                    item-label="name"
                    tick-property="ticked"
                    selection-mode="single"
                    helper-elements="">
                </div>
              </div>
          </div>

          <!-- Sentiment -->
         <div class="top-medium-pad row">
              <div class="five columns">
                Sentiment
              </div>
              <div class="seven columns">
                <div
                    isteven-multi-select
                    input-model="sentiments"
                    output-model="sentiment"
                    button-label="name"
                    item-label="name"
                    tick-property="ticked"
                    selection-mode="single"
                    helper-elements="">
                </div>
              </div>
          </div>

          <!-- Owned by -->
          <div class="top-medium-pad row">
              <div class="five columns">
                Owner Team
              </div>
              <div class="seven columns">
                 <div
                    isteven-multi-select
                    input-model="ownerTeams"
                    output-model="ownerTeam"
                    button-label="name"
                    on-item-click="getOwnerTeamMembers(data)"
                    item-label="name"
                    tick-property="ticked"
                    selection-mode="single"
                    helper-elements="">
                </div>
              </div>
          </div>

          <!-- Owned member -->
          <div class="field top-medium-pad row" ng-show="ownerTeam.length">
              <div class="five columns">
                Owned By
              </div>
              <div class="seven columns">
                <div
                  isteven-multi-select
                  input-model="ownerTeamMembers"
                  output-model="owner"
                  button-label="name"
                  item-label="name"
                  tick-property="ticked"
                  selection-mode="single"
                  helper-elements=""
                  max-height = "200px">
                </div>
              </div>
          </div>

          <!-- Assigned to -->
          <div class="top-medium-pad row" ng-show="ownerTeam.length">
              <div class="five columns">
                Assigned Team
              </div>
              <div class="seven columns">
                <div
                  isteven-multi-select
                  input-model="assignedTeams"
                  output-model="assignedTeam"
                  on-item-click="getAssignedTeamMembers(data)"
                  button-label="name"
                  item-label="name"
                  tick-property="ticked"
                  selection-mode="single"
                  helper-elements="">
                </div>
              </div>
          </div>

          <!-- Assigned member -->
          <div class="top-medium-pad row"  ng-show="assignedTeam.length">
              <div class="five columns">
                Assigned To
              </div>
              <div class="seven columns">
                <div
                  isteven-multi-select
                  input-model="assignedTeamMembers"
                  output-model="assigned"
                  button-label="name"
                  item-label="name"
                  tick-property="ticked"
                  selection-mode="single"
                  helper-elements="">
                </div>
              </div>
          </div>

          <div class="top-medium-pad row">
              <div class="five columns">
                  Followup of Issue
              </div>
              <div class="seven columns">
               <input type="text" class="issue-box" placeholder="Enter Ticket Id" ng-model="followUpOf" style="width:100%"/>
              </div>
          </div>
          <div class="top-medium-pad row">
              Add Tags
          </div>
          <div class="top-medium-pad row">
              <tags-input ng-model='tags'  add-on-space="true"> </tags-input>
          </div>
      </div>
  </div>

  <!-- curration bottom screen -->
  <div id="curation-bottom">
    <div class="bottom-buttons">
      <button ng-click="cancel()"> <small> Cancel </small></button>
    </div>
    <div class="bottom-buttons">
      <button class="button-primary" ng-click="checkSave()"><small>Save</small ></button>
    </div>
  </div>

  <div style=" background-color:rgba(0, 0, 0, 0.5); width:100%; height:100%;position: fixed; z-index:20; top:0px; left:0px" 
  ng-if="showCustomMail" ng-click = "removeModal()"></div>
  <div style="background-color:white;width:50%; height:50%;position: fixed; z-index:21; margin: 0 auto; top:25%; left:25%" 
    ng-if="showCustomMail">
      <div ng-include="'/templates/curationCustomSendMail.html'"></div>
  </div>
</div>

<!-- Bottom code
  <div class="offset-by-seven two columns">
             <button class="button-primary" ng-click="save()">Save</button>
          </div>
          <div class="two columns">
             <button ng-click="cancel()">Cancel</button>
          </div>
          <div class="offset-by-one">
          </div>
-->
