<div id="ticket-filters">
  <div class="row row-filter">My Issues</div>
  <div class="row row-filter">Team Issues</div>
  <div class="row row-filter">All Issues</div>
  <form style="margin-top:20px; paddin-left:10px">
    <div class="row">
      <div class="offset-by-one eight columns">
        <b>Filters</b>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-two eight columns">
        <small>Product</small>
        <select class="u-full-width"></select>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-two eight columns">
        <small>Team</small>
        <select class="u-full-width"></select>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-two eight columns">
        <small>Status</small>
        <select class="u-full-width"></select>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-two eight columns">
        <small>Source</small>
        <select class="u-full-width"></select>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-two eight columns">
        <small>Type</small>
        <select class="u-full-width"></select>
      </div>
    </div>
    <div class="row">
      <div class="offset-by-two eight columns">
        <button ng-click="show()"></button>
      </div>
    </div>
  </form>
</div>
