<div class="container" style="color: white">
<div class="row">
  <div class="offset-by-four six columns" style="font-family:Existence-uni">
    <b><span><h1>GALAXY</h1></b>
    <h5>*The Kickass Time Keeper</h5></span>
  </div>
</div>

<form>
  <div class="row">
    <div class="offset-by-four four columns">
      Email
      <input class="u-full-width" type="text" ng-model="email" placeholder="Enter your Practo mail id"></input>
    </div>
  </div>
  <div class="row">
    <div class="offset-by-four four columns">
      Password
      <input class="u-full-width" type="password" ng-model="password" placeholder="Type Password"></input>
    </div>
  </div>
  <div class="row">
    <div class="offset-by-four four columns">
      <button class="u-full-width" ng-click='signin()' style="color: white">Click to Login</button>
    </div>
  </div>
</form>

</div>
