<div style="font-size:1.5em">
  <i class="ionicons ion-android-arrow-back back-arrow" style="font-size:1.6em"></i>
  <span class="page-heading" style="margin-left: 10px" ><thin>{{previousPage}}</thin></span>
  <i class="ionicons ion-ios-arrow-right back-arrow" style="cursor: auto"></i>
  <span class="page-heading" style="margin: 0px"><thin>Ticket ID <span style="color: #4DC5EA">#{{ticket.id}}</span></thin></span>
  <span class="page-heading" style="margin-left: 100px"><thin>Customer: <span style="color: #4DC5EA">{{fabricPracticeName}}</span></thin></span>
  <span class="" style="right:0px; position:absolute; margin-right:40px">
    <i class="ionicons ion-ios-timer" style="color:#FEC76F;font-size:1.5em; margin-top:5px"></i>
    <thin>Due in {{ticket.sla}} hrs</thin>
  </span>
</div>
