<div style="font-size:1em; padding-left:25px">
  <button class="button-primary" ng-click=acknowledgeTicket()><small>Acknowledge</small></button>
  <button class="button-secondary"><small>Deny</small></button>
  <button ng-hide="$parent.isNotOwner"><small>Mark as Resolved</small></button>
  <button ng-hide="$parent.isNotOwner" ng-click="invalidStatus()"><small>Mark as Invalid</small></button>
  <button class="button-primary" style="float:right" ng-click="saveTicketDetails()"><small>Save</small></button>
</div>
