<div id="ticket-detail">
          <div id="issue-heading" class="row">
              ISSUE DETAILS
          </div>
          
          <!-- Product -->
          <div class="top-medium-pad row">
              <div class="five columns">
                  Product
              </div>
              <div class="seven columns">
                <div
                    isteven-multi-select
                    input-model="products"
                    output-model="product"
                    button-label="name"
                    item-label="name"
                    tick-property="ticked"
                    selection-mode="single"
                    helper-elements=""
                    >
                </div>
              </div>
          </div>

          <!-- Source -->
          <div class="field top-medium-pad row">
              <div class="five columns">
                  Source
              </div>
              <div class="seven columns">
                <div
                    isteven-multi-select
                    input-model="sources"
                    output-model="source"
                    button-label="name"
                    item-label="name"
                    tick-property="ticked"
                    selection-mode="single"
                    helper-elements=""
                    >
                </div>
              </div>
          </div>

          <!-- Type -->
         <div class="top-medium-pad row">
              <div class="five columns">
                  Type
              </div>
              <div class="seven columns">
                <div
                    isteven-multi-select
                    input-model="types"
                    output-model="type"
                    button-label="name"
                    item-label="name"
                    tick-property="ticked"
                    selection-mode="single"
                    helper-elements="">
                </div>
              </div>
          </div>

          <!-- Sentiment -->
         <div class="top-medium-pad row">
              <div class="five columns">
                Sentiment
              </div>
              <div class="seven columns">
                <div
                    isteven-multi-select
                    input-model="sentiments"
                    output-model="sentiment"
                    button-label="name"
                    item-label="name"
                    tick-property="ticked"
                    selection-mode="single"
                    helper-elements="">
                </div>
              </div>
          </div>
          
          <!-- Owned by -->
          <div class="top-medium-pad row">
              <div class="five columns">
                Owner Team
              </div>
              <div class="seven columns">
                 <div
                    isteven-multi-select
                    input-model="ownerTeams"
                    output-model="ownerTeam"
                    button-label="name"
                    on-item-click="getOwnerTeamMembers(data)"
                    item-label="name"
                    tick-property="ticked"
                    selection-mode="single"
                    helper-elements="">
                </div>
              </div>
          </div>

          <!-- Owned member -->
          <div class="field top-medium-pad row" ng-show="ownerTeam.length">
              <div class="five columns">
                Owned By
              </div>
              <div class="seven columns">
                <div
                  isteven-multi-select
                  input-model="ownerTeamMembers"
                  output-model="owner"
                  button-label="name"
                  item-label="name"
                  tick-property="ticked"
                  selection-mode="single"
                  helper-elements=""
                  max-height = "200px">
                </div>
              </div>
          </div>

          <!-- Assigned to -->
          <div class="top-medium-pad row" ng-show="ownerTeam.length">
              <div class="five columns">
                Reassigned Team
              </div>
              <div class="seven columns">
                <div
                  isteven-multi-select
                  input-model="assignedTeams"
                  output-model="assignedTeam"
                  on-item-click="getAssignedTeamMembers(data)"
                  button-label="name"
                  item-label="name"
                  tick-property="ticked"
                  selection-mode="single"
                  helper-elements="">
                </div>
              </div>
          </div>

          <!-- Assigned member -->
          <div class="top-medium-pad row"  ng-show="assignedTeam.length">
              <div class="five columns">
                Reassigned To
              </div>
              <div class="seven columns">
                <div
                  isteven-multi-select
                  input-model="assignedTeamMembers"
                  output-model="assigned"
                  button-label="name"
                  item-label="name"
                  tick-property="ticked"
                  selection-mode="single"
                  helper-elements="">
                </div>
              </div>
          </div>

          <div class="top-medium-pad row">
              <div class="five columns">
                  Followup of Issue
              </div>
              <div class="seven columns">
               <input type="text" class="issue-box" placeholder="Enter Ticket Id" ng-model="followUpOf" style="width:100%"/>
              </div>
          </div>
          <div class="top-medium-pad row">
              Add Tags
          </div>
          <div class="top-medium-pad row">
              <tags-input ng-model='tags'  add-on-space="true"> </tags-input>
          </div>
  </div>