<div>
  <!-- <div class="timeline-row" style="background-color:white; border: 1px solid #D7D7D7; border-radius:4px;">
    <div class="row" style="padding:10px; margin:5px; color: #4DC5EA">
      <div class="two columns">{{ticket.created_by.name}}
      </div>
      <div class="offset-by-one two columns">{{ticket.created_by.email}}
      </div>
      <div class="offset-by-one two columns">{{ticket.created_by.phone}}
      </div>
      <div style="float:right;color:#666">{{created_on}}</div>
    </div>
    <div class="row"  style="padding:15px; margin:5px">
      <div class="twelve columns" data-ng-bind-model="ticket.description">{{ticket.description}}</div>
    </div>
  </div> -->
  <div class='timeline-row' ng-repeat="t in timeline">
    <div ng-if="t.type == 'Created'">
      <div ng-include="'/templates/timeline-ticket-created.html'"></div>
    </div>
    <div ng-if="t.type == 'comment'">
      <div class="timeline-header row">
        <span style="font-size: 2em; float:left; margin-right: 10px; height:100%"><i class="ionicons ion-ios-chatbubble-outline"></i></span>
        <span class="action-text" style="">Comment by {{t.created_by.name}}</span>
        <span style="float:right;color:#666; padding: 10px 0px">{{t.timestamp}}</span>
      </div>
      <div class="timeline-body row">
        <div ta-bind ng-model="t.body">
        </div>
      </div>
    </div>
    <div ng-if="t.type == 'mail'">
      <div class="timeline-header row">
        <span style="font-size: 2em; float:left; margin-right: 10px; height:100%"><i class="ionicons ion-ios-email-outline"></i></span>
        <span class="action-text" style="" ng-if="t.mail_type=='INBOUND'">Recieved from {{t.created_by.name}}</span>
        <span class="action-text" style="" ng-if="t.mail_type=='OUTBOUND'">Sent By {{t.created_by.name}}</span>
        <span style="float:right;color:#666; padding: 10px 0px">{{t.timestamp}}</span>
      </div>
      <div class="timeline-body row">
        <div style="padding: 5px; padding-bottom:0px">
          Subject: <b>{{t.subject}}</b>
        </div>
        <div ta-bind ng-model="t.body">
        </div>
      </div>
    </div>
    <div ng-if="t.type == 'Ticket'">
      <div class="timeline-header row">
        <span style="font-size: 2em; float:left; margin-right: 10px; height:100%"><i class="ionicons ion-ios-compose-outline"></i></i></span>
        <span class="action-text" style="">Modified by {{t.modified_by.name}}</span>
        <span style="float:right;color:#666; padding: 10px 0px">{{t.timestamp}}</span>
      </div>
      <div class="timeline-body row">
        <div style="padding: 5px; padding-bottom:0px" ng-repeat="(key, value) in t.changed">
            <span style="text-transform:uppercase">{{key}}</span> changed to <span style="text-transform:uppercase">{{value}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
