<div class='full-width-controller boxed' >
<!--
  <h1>chronos</h1>
  <h2>Your new AngularJS app is now ready...</h2> -->
  <!-- <div class="row" style="height:100%"> -->
    <div class="filters two columns">
      <div ng-include src="'/templates/filtersPane.html'" ng-controller='TicketListFilterCtrl'></div>
    </div>
    <table class="offset-by-two ten columns listing-table">
    <thead class="row listing-head-row">
      <th class="one column">Source</th>
      <th class="one column">ID</th>
      <th class="three columns">Description</th>
      <th class="one column">Product</th>
      <th class="one column">Type</th>
      <th class="two columns">State</th>
      <th class="one column">SLA</th>
      <th class="two columns">Assignee</th>
    </thead>
    <tbody>
      <tr class="listing-row boxed row" ng-repeat="ticket in tickets">
        <td class="one column" >{{ticket.Source}}</td>
        <td class="one column">{{ticket.TicketID}}</td>
        <td class="three columns">{{ticket.Description}}</td>
        <td class="one column">{{ticket.Product}}</td>
        <td class="one column">{{ticket.Type}}</td>
        <td class="two columns">{{ticket.State}}</td>
        <td class="one column">{{ticket.SLA}}</td>
        <td class="two columns">{{ticket.Assignee}}</td>
      </tr>
      <!-- <tr class="listing-row boxed row">
        <td class="one column" >tushar</td>
        <td class="two columns">tushar</td>
        <td class="three columns">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="two columns">tushar</td>
      </tr>
      <tr class="listing-row boxed row">
        <td class="one column" >tushar</td>
        <td class="two columns">tushar</td>
        <td class="three columns">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="two columns">tushar</td>
      </tr>
      <tr class="listing-row boxed row">
        <td class="one column" >tushar</td>
        <td class="two columns">tushar</td>
        <td class="three columns">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="two columns">tushar</td>
      </tr>
      <tr class="listing-row boxed row">
        <td class="one column" >tushar</td>
        <td class="two columns">tushar</td>
        <td class="three columns">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="two columns">tushar</td>
      </tr>
      <tr class="listing-row boxed row">
        <td class="one column" >tushar</td>
        <td class="two columns">tushar</td>
        <td class="three columns">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="two columns">tushar</td>
      </tr>
      <tr class="listing-row boxed row">
        <td class="one column" >tushar</td>
        <td class="two columns">tushar</td>
        <td class="three columns">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="two columns">tushar</td>
      </tr>
      <tr class="listing-row boxed row">
        <td class="one column" >tushar</td>
        <td class="two columns">tushar</td>
        <td class="three columns">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="two columns">tushar</td>
      </tr>
      <tr class="listing-row boxed row">
        <td class="one column" >tushar</td>
        <td class="two columns">tushar</td>
        <td class="three columns">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="two columns">tushar</td>
      </tr>
      <tr class="listing-row boxed row">
        <td class="one column" >tushar</td>
        <td class="two columns">tushar</td>
        <td class="three columns">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="two columns">tushar</td>
      </tr>
      <tr class="listing-row boxed row">
        <td class="one column" >tushar</td>
        <td class="two columns">tushar</td>
        <td class="three columns">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="two columns">tushar</td>
      </tr> -->
    <!-- <tr class="listing-row boxed">
      <td class="listing-cell">tushar</td>
      <td>tushar</td>
      <td>tushar</td>
      <td>tushar</td>
      <td>tushar</td>
      <td>tushar</td>
      <td>tushar</td>
      <td>tushar</td>
    </tr> -->
  </tbody>
  </table>
</div>
