<div id="nav-top-ticket" class="nav-top-ticket row boxed">
  <div ng-include="'/templates/nav-top-ticket.html'"></div>
</div>
<div id="nav-bottom-ticket" class="nav-bottom-ticket row boxed">
  <div ng-include="'/templates/nav-bottom-ticket.html'"></div>
</div>
<div class="u-full-width ticket-main-view">
  <div class="timeline-tile" style="">
    <div class="container container-timeline">
      <div ng-include="'/templates/ticket-timeline.html'"></div>
    </div>
  </div>
  <div class="ticket-details" style="">
    <div class="container" style="width:90%">
      <div ng-include="'/templates/ticket-details.html'"></div>
    </div>
  </div>
</div>
<div class="commenter-timeline" ng-if="data.showCommenter">
  <div ng-include="'/templates/commenter-timeline.html'"></div>
</div>
<div class="mailer-timeline" ng-if="!data.showCommenter">
  <div ng-include="'/templates/mailer-timeline.html'"></div>
</div>
