<div class='full-width-controller boxed'>
<!--
  <h1>chronos</h1>
  <h2>Your new AngularJS app is now ready...</h2> -->
  <!-- <div class="row" style="height:100%"> -->
    <div class="filters two columns">
      <div ng-include src="'/templates/ticketfilters.html'"></div>
    </div>
    <table class="offset-by-two ten columns listing-table">
    <thead class="row listing-head-row">
      <th class="one column">Source</th>
      <th class="two columns">Ticket ID</th>
      <th class="three columns">Description</th>
      <th class="one column">Prodcut</th>
      <th class="one column">Type</th>
      <th class="one column">State</th>
      <th class="one column">SLA</th>
      <th class="two columns">Assignee</th>
    </thead>
    <tbody>
      <tr class="listing-row boxed row">
        <td class="one column" >tushar</td>
        <td class="two columns">tushar</td>
        <td class="three columns">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="two columns">tushar</td>
      </tr>
      <tr class="listing-row boxed row">
        <td class="one column" >tushar</td>
        <td class="two columns">tushar</td>
        <td class="three columns">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="two columns">tushar</td>
      </tr>
      <tr class="listing-row boxed row">
        <td class="one column" >tushar</td>
        <td class="two columns">tushar</td>
        <td class="three columns">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="two columns">tushar</td>
      </tr>
      <tr class="listing-row boxed row">
        <td class="one column" >tushar</td>
        <td class="two columns">tushar</td>
        <td class="three columns">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="two columns">tushar</td>
      </tr>
      <tr class="listing-row boxed row">
        <td class="one column" >tushar</td>
        <td class="two columns">tushar</td>
        <td class="three columns">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="two columns">tushar</td>
      </tr>
      <tr class="listing-row boxed row">
        <td class="one column" >tushar</td>
        <td class="two columns">tushar</td>
        <td class="three columns">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="two columns">tushar</td>
      </tr>
      <tr class="listing-row boxed row">
        <td class="one column" >tushar</td>
        <td class="two columns">tushar</td>
        <td class="three columns">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="two columns">tushar</td>
      </tr>
      <tr class="listing-row boxed row">
        <td class="one column" >tushar</td>
        <td class="two columns">tushar</td>
        <td class="three columns">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="two columns">tushar</td>
      </tr>
      <tr class="listing-row boxed row">
        <td class="one column" >tushar</td>
        <td class="two columns">tushar</td>
        <td class="three columns">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="two columns">tushar</td>
      </tr>
      <tr class="listing-row boxed row">
        <td class="one column" >tushar</td>
        <td class="two columns">tushar</td>
        <td class="three columns">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="one column">tushar</td>
        <td class="two columns">tushar</td>
      </tr>
    <!-- <tr class="listing-row boxed">
      <td class="listing-cell">tushar</td>
      <td>tushar</td>
      <td>tushar</td>
      <td>tushar</td>
      <td>tushar</td>
      <td>tushar</td>
      <td>tushar</td>
      <td>tushar</td>
    </tr> -->
  </tbody>
  </table>
</div>
