<div class='container full-width-controller boxed'>

  <h1>chronos</h1>
  <h2>Your new AngularJS app is now ready...</h2>
  <table class="listing-table">
  <thead>
    <td>tushar</td>
    <td>tushar</td>
    <td>tushar</td>
    <td>tushar</td>
    <td>tushar</td>
  </thead>
  <tbody>
    <tr class="listing-row boxed">
      <td class="listing-cell">tushar</td>
      <td>tushar</td>
      <td>tushar</td>
      <td>tushar</td>
      <td>tushar</td>
    </tr>
    <tr class="listing-row boxed">
      <td class="listing-cell">tushar</td>
      <td>tushar</td>
      <td>tushar</td>
      <td>tushar</td>
      <td>tushar</td>
    </tr>
  </tbody>
  </table>
</div>
