@import "styles/_base";

$top-browser :80px;
$border-color : #DCDCDC;
$font-color : #4DC5EA;

// @font-face {
// font-family: BrandonText-Regular;
// src: url("/assets/BrandonText-Regular.otf") format("opentype");
// }

@font-face {
font-family: 'Open Sans';
src: url("/assets/OpenSans-Regular.ttf");
}

body {
  padding: 0px;
  background-color: #F7F7F7;
  font: 1.5em "Open Sans";
}

.boxed {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.full-width-controller {
  margin : 0px;
  width: 100%;
  max-width: 99%;
  overflow: auto;
  height: 100%
}

.nav-top {
  background-color: #FFFFFF;
  height: $top-browser;
  padding: 20px;
  padding-left: 0px;
  border: 0px;
  border-bottom: solid 1px $border-color;
  position: fixed;
  width:100%;
  left: 0px;
  top: 0px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  transition: left 0.5s, width 0.5s;
  box-shadow: 2px 1px 2px 2px $border-color;
  z-index: -1000;
}

.nav-top-ticket {
  background-color: #FFFFFF;
  height: $top-browser;
  padding: 20px;
  padding-left: 0px;
  border: 0px;
  border-bottom: solid 1px $border-color;
  position: fixed;
  width:100%;
  top: $top-browser;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  transition: left 0.5s, width 0.5s;
  box-shadow: 2px 0px 5px 1px $border-color;
  z-index: 1002;
}

.nav-bottom-ticket {
  background-color: #FFFFFF;
  height: $top-browser - 10px;
  padding: 20px;
  padding-left: 0px;
  border: 0px;
  border-bottom: solid 1px $border-color;
  position: fixed;
  width:100%;
  bottom: 0px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  transition: left 0.5s, width 0.5s;
  box-shadow: 2px 1px 2px 2px $border-color;
  z-index: 1002;
}

.nav-top-left {
  background-color: #FFFFFF;
  height: $top-browser;
  padding: 20px;
  padding-left: 0px;
  padding-right: 0px;
  border: 0px;
  border-bottom: solid 1px $border-color;
  position: fixed;
  width:100%;
  left: 0px;
  top: 0px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  transition: left 0.5s, width 0.5s;
  z-index: 1001;
  // box-shadow: 2px 1px 2px 2px $border-color;
}


.nav-left {
  background-color: #095675;
  padding-top: $top-browser;
  height: 100%;
  width: 300px;
  position: fixed;
  left: -300px;
  top: 0px;
  transition: left 0.5s;
  color: #FFFFFF;
  z-index: 1005;
}

.main-view {
  position: relative;
  top: $top-browser;
  left: -8px;
  height: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  transition: left 0.5s, width 0.5s;
}

.curation-hover {
  position: fixed;
  top: $top-browser + 5px;
  background-color: transparent;
  width: 55%;
  height: 100%;
  // right: -55%;
  right: -55%;
  transition: right 0.5s;
}

.curation-screen {
  margin: 2px auto;
  padding: 10px;
  background-color: #FFFFFF;
  box-shadow: -3px 2px 11px 1px  $border-color;
  border: 1px solid $border-color;
  width: 97%;
  height: 100%
}

.listing-table {
  background-color: transparent;
  border-collapse: collapse;
  box-shadow: 1px 1px 1px $border-color;
  max-width: 99%;
  width: 100%;
  word-wrap: normal;
}

.listing-row {
  background-color: #FFFFFF;
  border: solid 1px $border-color;
}

.listing-table tr {line-height: 18px}

.listing-cell {
  min-height: 50px;
}

.burger-menu {
    border: 0px solid #000000;
    display: inline-block;
    margin-right: 25px;
    width: 24px;
    background-color: #FFFFFF;
    color: #A9A9A9;
    cursor: hand;
    cursor: pointer;
}

.burger-menu:hover {
}

.back-arrow {
    border: 0px solid #000000;
    display: inline-block;
    margin-right: 10px;
    margin-left: 20px;
    width: 15px;
    background-color: #FFFFFF;
    color: #A9A9A9;
    cursor: hand;
    cursor: pointer;
}

.page-heading {
    border: 0px solid #000000;
    display: inline-block;
    margin-right: 5px;
    background-color: #FFFFFF;
    text-transform:capitalize;
}

.listing-row .column {
  margin-left: 10px;
}

.listing-row .columns {
  margin-left: 10px;
}

.filters {
  background-color: #FFFFFF;
  height: 100%;
  box-shadow: 4px 3px 2px 1px $border-color;
  margin-right: 20px;
  position: fixed;
  top: $top-browser;
}

.listing-table td:first-child {
  padding: 15px 12px;
}

.listing-table th:first-child {
  padding: 15px 12px;
}

.listing-row td, th{
  text-align: center;
  border: 0px;
}

.row-filter {
  border-bottom: solid 1px #DCDCDC;
  height: 40px;
  padding-top:12px
}

.row-filter :hover {
  cursor: hand;
  cursor: pointer;
}

.small-button {
  @extend .boxed;
  @extend .button;
  width : 30px !important;
  padding: 1px;
  display: inline;
  margin : 0px 7px 0px 7px;
}

.filter-select {
  text-transform: uppercase;
  font-family:  "BrandonText-Regular", sans-serif;
}

.multiSelect button {
  @extend .row;
  font-size: 12px;
  background-image: linear-gradient(#fff, #ffffff);
  word-wrap: normal;
}

.multiSelect > button:hover {
    background-image: linear-gradient(#fff, #ffffff);
}

.multiSelect .buttonLabel {
  display : inline-table;
}
.acol label {
  text-transform: uppercase;
  font-size: 12px
}

.listing-font {
  color: #4DC5EA;
  font-size: 1.5em;
  padding-left:10px
}

.listing-table td {
  font-size: 1em;
}

.button-number {
  height : 24px !important;
  max-width: 50px;
  width: 35px !important;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 4px;
  font-size: 13px;
  background-color: #4DC5EA !important;
  margin-bottom: auto;
  border-color: #4DC5EA;
  border-radius: 4px;
  color: #FFFFFF;
  text-align: center;
}

.multiSelect button {
  max-height: 100px;
  overflow-y: auto;
  min-width: 100%
}

.ticket-main-view {
  position: relative;
  top: $top-browser;
}

.timeline-tile {
  border-right: 1px solid $border-color;
  width: 74%;
  height: 100%;
  min-height: 600px;
  margin-bottom: $top-browser;
}

.ticket-details {
  width: 25%;
  margin-bottom: $top-browser;
}

.container-timeline {
  width:95%;
  max-width: 1200px !important
}

.commenter-timeline {
  border-right: 1px solid $border-color;
  width: 73.31%;
  height: 100%;
  max-height: 200px;
  min-height: 200px;
  position: fixed;
  background-color: #FFFFFF;
  border: 1px solid $border-color;
  position: fixed;
  padding: 20px;
  bottom: $top-browser - 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  transition: left 0.5s, width 0.5s;
  // box-shadow: 2px 1px 2px 2px $border-color;
  z-index: 1002;
}

.ta-toolbar {
  border: 1px solid #D7D7D7;
  padding: 5px;
  height: 40px
}

.ta-editor {
  border: 1px solid #D7D7D7;
  border-top: 0px;
  height: 100%;
  min-height: 100px !important;
  max-height: 100px;
  line-height: 5px;
}
