@import "styles/_base";

$top-browser :100px;
$border-color : #DCDCDC;

@font-face {
font-family: BrandonText-Regular;
src: url("/assets/BrandonText-Regular.otf") format("opentype");
}

body {
  padding: 0px;
  background-color: #F7F7F7;
  font: 20px/150% "BrandonText-Regular", sans-serif;
}

.boxed {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.full-width-controller {
  margin : 5px;
  width: 100%;
  max-width: 95%
}

.nav-top {
  background-color: #FFFFFF;
  height: $top-browser;
  padding: 25px;
  border: 0px;
  position: fixed;
  width: 100%;
  left: 0px;
  top: 0px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  transition: left 1s, width 2s;
  box-shadow: 2px 1px 2px 2px $border-color;
}

.nav-left {
  background-color: #0B5675;
  padding: 0px;
  height: 100%;
  width: 300px;
  position: absolute;
  left: -300px;
  top: 0px;
  transition: left 1s;
}

.main-view {
  position: relative;
  top: $top-browser;
  left: 0px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  transition: left 1s, width 2s;
}

.curation-hover {
  position: fixed;
  top: $top-browser + 5px;
  background-color: transparent;
  width: 55%;
  height: 100%;
  // right: -55%;
  right: 0px;
  transition: right 1s;
}

.curation-screen {
  margin: 2px auto;
  padding: 10px;
  background-color: #FFFFFF;
  box-shadow: -3px 2px 11px 1px  $border-color;
  border: 1px solid $border-color;
  width: 97%;
  height: 100%
}

.listing-table {
  background-color: transparent;
  border-collapse: collapse;
  margin: 10px 10px 10px 10px;
  box-shadow: 1px 1px 1px $border-color;
  width: 100%
}

.listing-row {
  background-color: #FFFFFF;
}

.listing-cell {
  min-height: 50px;
}

.burger-menu {
    border: 0px solid #000000;
    display: inline-block;
    margin-right: 25px;
    width: 24px;
    background-color: #FFFFFF;
    color: #A9A9A9;
    cursor: hand;
}

.burger-menu:hover {
}


.page-heading {
    border: 0px solid #000000;
    display: inline-block;
    margin-right: 5px;
    width: 300px;
    background-color: #FFFFFF;
}
