@import "styles/_base";
@import "styles/_bootstrap";
@import "styles/_curation";

$top-browser : calc(8.5vh);
$border-color : #DCDCDC;
$font-color : #4DC5EA;
$ticket-fixed : calc(7.5vh);
$padding-fixed : calc(1.5vh);
$timeline-padding : calc(16vh);

// @font-face {
// font-family: BrandonText-Regular;
// src: url("/assets/BrandonText-Regular.otf") format("opentype");
// }

@font-face {
font-family: 'Open Sans';
src: url("/assets/OpenSans-Regular.ttf");
}

@font-face {
font-family: 'Open Sans Light';
src: url("/assets/OpenSans-Light.ttf");
}

@font-face {
font-family: 'Existence-uni';
src: url("/assets/Existence-UnicaseLight.otf");
}

@font-face {
font-family: 'Existence-light';
src: url("/assets/Existence-Light.otf");
}

@media all and (min-width: 1281px) {
    body{
        font-size: 14px;
    }
}

@media all and (min-width:960px) and (max-width: 1280px) {
    body{
        font-size: 12px;
    }
}

@media all and (max-width: 959px) and (min-width: 600px) {
    body{
        font-size: 10px;
    }
}

body {
  padding: 0px;
  background-color: #F7F7F7;
  font-family: "Open Sans";
}

.boxed {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.full-width-controller {
  margin : 0px;
  width: 100%;
  max-width: 99%;
  overflow: auto;
  height: 100%
}

.nav-top {
  background-color: #FFFFFF;
  height: $top-browser;
  padding: $padding-fixed;
  padding-left: 0px;
  border: 0px;
  border-bottom: solid 1px $border-color;
  position: fixed;
  width:100%;
  left: 0px;
  top: 0px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  transition: left 0.5s, width 0.5s;
  box-shadow: 2px 1px 2px 2px $border-color;
  z-index: -1000;
}

.nav-top-ticket {
  background-color: #FFFFFF;
  height: $ticket-fixed;
  padding: $padding-fixed;
  padding-left: 0px;
  border: 0px;
  border-bottom: solid 1px $border-color;
  position: fixed;
  width:100%;
  top: $top-browser;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  transition: left 0.5s, width 0.5s;
  box-shadow: 2px 0px 5px 1px $border-color;
  z-index: 10;
}

.nav-bottom-ticket {
  background-color: #FFFFFF;
  height: $ticket-fixed;
  padding: $padding-fixed;
  padding-left: 0px;
  border: 0px;
  border-bottom: solid 1px $border-color;
  position: fixed;
  width:100%;
  bottom: 0px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  transition: left 0.5s, width 0.5s;
  box-shadow: 2px 1px 2px 2px $border-color;
  z-index: 12;
}

.nav-top-left {
  background-color: #FFFFFF;
  height: $top-browser;
  padding: $padding-fixed;
  padding-left: 0px;
  padding-right: 0px;
  border: 0px;
  border-bottom: solid 1px $border-color;
  position: fixed;
  width:100%;
  left: 0px;
  top: 0px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  transition: left 0.5s, width 0.5s;
  z-index: 11;
  // box-shadow: 2px 1px 2px 2px $border-color;
}


.nav-left {
  background-color: #095675;
  height: 100%;
  width: 350px;
  position: fixed;
  left: -350px;
  top: 0px;
  transition: left 0.5s;
  color: #FFFFFF;
  z-index: 15;
}

.main-view {
  position: relative;
  top: $top-browser;
  left: -8px;
  height: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  transition: left 0.5s, width 0.5s;
}

.curation-hover {
  position: fixed;
  top: 85px;//$top-browser + 5px;
  background-color: transparent;
  width: 55%;
  height: 100%;
  // right: -55%;
  right: -55%;
  transition: right 0.5s;
}

.curation-screen {
  margin: 2px auto;
  background-color: #F7F7F7;
  box-shadow: -1px 3px 10px 2px $border-color;
  border: 1px solid $border-color;
  width: 97%;
  height: 100%
}

.listing-table {
  background-color: transparent;
  border-collapse: collapse;
  max-width: 99%;
  width: 100%;
  word-wrap: normal;
  table-layout: fixed;
}

.listing-row {
  background-color: #FFFFFF;
  border: solid 1px $border-color;
  cursor: hand;
  cursor: pointer;
}

.listing-table tr {line-height: 18px}

.listing-cell {
  min-height: 50px;
}

.burger-menu {
    margin-right: 25px;
    width: 24px;
    color: #A9A9A9;
    cursor: hand;
    cursor: pointer;
}

.back-arrow {
    border: 0px solid #000000;
    display: inline-block;
    margin-right: 10px;
    margin-left: 20px;
    width: 15px;
    background-color: #FFFFFF;
    color: #A9A9A9;
    cursor: hand;
    cursor: pointer;
}

.page-heading {
    border: 0px solid #000000;
    display: inline-block;
    margin-right: 5px;
    background-color: #FFFFFF;
    text-transform:capitalize;
}

.listing-head-row .column, .listing-head-row .columns ,.listing-row .columns ,.listing-row .column {
  margin-left: 15px;
}

.filters {
  background-color: #FFFFFF;
  height: 100%;
  box-shadow: 4px 3px 2px 1px $border-color;
  margin-right: 20px;
  position: fixed;
  top: $top-browser;
}

.listing-table td:first-child {
  padding: 15px 15px;
}

.listing-table th:first-child {
  padding: 15px 15px;
}

.listing-row td, th{
  text-align: center;
  border: 0px;
  vertical-align:top;
  word-wrap: break-word;
}

.row-filter {
  border-bottom: solid 1px #DCDCDC;
  height: 40px;
  padding-top:12px
}

.row-filter :hover {
  cursor: hand;
  cursor: pointer;
}

.small-button {
  @extend .boxed;
  @extend .button;
  width : 24px !important;
  padding: 1px;
  display: inline;
  margin : 0px 7px 0px 7px;
}

.filter-select {
  text-transform: uppercase;
  font-family:  "BrandonText-Regular", sans-serif;
}

.multiSelect button {
  @extend .row;
  font-size: smaller;
  background-image: linear-gradient(#fff, #ffffff);
  word-wrap: normal;
}

.multiSelect > button:hover {
    background-image: linear-gradient(#fff, #ffffff);
}

.multiSelect .buttonLabel {
  display : inline-table;
}
.acol label {
  text-transform: uppercase;
  font-size: smaller
}

.listing-font {
  color: #4DC5EA;
  font-size: 1.5em;
  padding-left:10px
}

.listing-table td {
  font-size: 1em;
}

.button-number {
  height : 24px !important;
  max-width: 50px;
  width: 35px !important;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 4px;
  background-color: #4DC5EA !important;
  margin-bottom: auto;
  border-color: #4DC5EA;
  border-radius: 4px;
  color: #FFFFFF;
  text-align: center;
}

.multiSelect button {
  max-height: 100px;
  overflow-y: auto;
  min-width: 100%
}
.ticket-main-view {
  position: relative;
  top: $ticket-fixed;
}

.timeline-tile {
  border-right: 1px solid $border-color;
  width: 74%;
  height: 100%;
  min-height: 600px;
  padding-bottom: $timeline-padding;
  float: left;
}

.btn-group > .btn {
  font-size: 50% !important;
}

.ticket-details {
  position:absolute;
  right:0px;
  width: 25%;
  margin-bottom: $top-browser;
}

.container-timeline {
  width:95%;
  max-width: 1200px !important
}

.commenter-timeline {
  border-right: 1px solid $border-color;
  width: 73.31%;
  height: 100%;
  // box-shadow: -1px -3px 10px 1px $border-color;
  max-height: 235px;
  min-height: 235px;
  position: fixed;
  background-color: #FFFFFF;
  border: 1px solid $border-color;
  padding: 20px;
  bottom: $ticket-fixed;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  transition: left 0.5s, width 0.5s;
  // box-shadow: 2px 1px 2px 2px $border-color;
  z-index: 12;
}

.button-bottom {
  @extend .commenter-timeline;
  max-height: $top-browser;
  min-height: $top-browser;
  padding: 10px
}

.mailer-timeline {
  @extend .commenter-timeline;
  max-height: 340px;
  min-height: 340px;
}

.ta-toolbar {
  border: 1px solid #D7D7D7;
  padding: 5px;
  height: 40px
}

text-angular .ta-bind {
  min-height: 200px;
  line-height: 20px;
  padding: 5px
}

.ta-bind {
    margin: 0px;
    padding: 5px;
}

.ta-editor {
  border: 1px solid #D7D7D7;
  border-top: 0px;
  min-height: 100px !important;
  max-height: 100px;
  height: 100%;
  overflow: scroll;
  font-family: inherit;
}

mentio-menu ul {
  border: 1px solid #D7D7D7;
  padding: 10px 0px 10px 0px;
  border-radius: 4px;
  list-style-type: none;
  background-color: white;
}

mentio-menu li {
  padding: 0px 10px;
}

mentio-menu .active {
  color: $font-color;
}

.timeline-row {
  @extend .row;
  background-color:white;
  // border-bottom: 0px;
  margin-bottom: 12px;
  box-shadow: 4px 4px 14px 1px $border-color;
}

.timeline-header {
  min-height: 38px;
  padding: 0px 10px
}

.timeline-footer {
  min-height: 38px;
  padding: 0px 10px;
  border-top: 1px solid $border-color;
}

.timeline-body {
  padding: 0px 10px;
  min-height: 38px;
  border-top: 1px solid $border-color;

}

.action-text {
  font-size: 1.2em; float:left; margin-right: 10px; height:100%; padding-top:10px
}

.back-button {
  height: $top-browser;
  padding : $padding-fixed;
  width : inherit;
  text-align : right;
   -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.menu-list {
  font-family : "Open Sans Light";
  font-size: 1.5em;
  padding : 10px;
}

.menu-list:hover {
  background-color:#084963;
}
.menu-list a{
  color:white;
}

.logout {
  height: 35px; font-size:1em; cursor:hand; cursor:pointer;
}

.logout:hover {
  color: red
}

.ta-hidden-input {
  display: none
}

.ta-bind p {
  margin-bottom : 10px
}

.timeline-icon {
  font-size: 2em;
  float:left;
  margin: 0px;
  margin-right: 10px;
  height:100%;
  color: $font-color
}

.mentio-messageBar {
  position: fixed !important;
  bottom: 50px;
  left: 30%;
}

.flash{
  position : fixed;
  bottom : 10px;
  right: 10px;
  z-index: 20
}

.button {
  font-size : 0.8em !important
}

th:last-child, td:last-child {
    padding-right: 15px;
}

.selected {
  background-color: #E9F9FF
}

tr {
  transition: background-color 750ms linear;
}
